@import 'tailwindcss';

@plugin "daisyui" {
  logs: false;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #93e14d;
  --color-primary-content: #f8fafc;
}

@plugin "daisyui/theme" {
  name: 'dark';
  prefersdark: true;
  --color-primary: #93e14d;
  --color-primary-content: #1e293b;
}

@layer base {
  * {
    -webkit-user-select: none;
    user-select: none;
  }

  body {
    cursor: pointer;
  }
}

@layer components {
  .pattern {
    background-image: radial-gradient(
      var(--color-primary) 1px,
      transparent 1px
    );
    background-size: 32px 32px;
    mask-image: radial-gradient(
      ellipse 75% 75% at 50% 50%,
      #000 50%,
      transparent 100%
    );
  }
}
