@import 'tailwindcss';

@plugin "daisyui" {
  logs: false;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: #64748b;
  --color-primary-content: #f8fafc;
}

@plugin "daisyui/theme" {
  name: 'dark';
  prefersdark: true;
  --color-primary: #e2e8f0;
  --color-primary-content: #1e293b;
  --color-base-100: #262626;
}

@layer base {
  * {
    -webkit-user-select: none;
    user-select: none;
  }

  body {
    cursor: pointer;
  }
}
